<div
  class="d-flex flex-column align-items-center justify-content-center"
  style="margin: 15px auto"
>
  <h3>Edit Interview</h3>
  <form class="w-50 border p-4 m-2" method="post" action="/edit-interview">
    <input
        type="text"
        class="form-control"
        id="id"
        name="id"
        value="<%=interview._id%>"
        required
        hidden
      />

    <div class="mb-3">
      <label for="companyName" class="form-label">Company Name</label>
      <input
        type="text"
        class="form-control"
        id="companyName"
        name="companyName"
        value="<%=interview.companyName%>"
        placeholder="Enter company name"
        required
      />
    </div>

    <div class="mb-3">
      <label for="interviewDate" class="form-label">Interview Date</label>
      <input
        type="date"
        class="form-control"
        id="interviewDate"
        name="interviewDate"
        value="<%=interview.interviewDate%>"
        required
      />
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info">Submit</button>
      <a href="/dashboard" class="btn btn-danger ms-2">Cancel</a>
    </div>
  </form>
</div>
